.blockAl{
    display: flex;
    justify-content: center;
}

#block1{
    flex-direction: column;
    align-items: center;
}

label{
    display: block;
    margin: 1rem 0;
}

.modal-footer{
    flex-direction: column;
}

.btModal{
    width: 80%;
    border-radius: 2rem;
}

.btnAl0{
    color: white;
    background-color: rgb(5, 109, 109);
    border-radius: 2rem;
}

.btnAl0:hover{
    color: white;
}

.btnAl1{
    color: white;
    background-color: rgb(5, 109, 109);
}

.btnAl1:hover{
    color: white;
}

.btnAl2{
    color:rgb(5, 109, 109);
}

.btnAl2:hover{
    color:rgb(5, 109, 109);
}
